<div class='newTournament'>

  <h1>New Tournament!</h1>
  <h4><a href='/'>Home</a></h4>

  <p>Please add 8 Players for the new Tournament!</p>

  <form action="/tournaments" method="post">
    <label for="player1">Player 1:</label>
    <select id="player1" name="game-player1">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player2">Player 2:</label>
    <select id="player2" name="game-player2">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player3">Player 3:</label>
    <select id="player3" name="game-player3">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player4">Player 4:</label>
    <select id="player5" name="game-player4">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player5">Player 5:</label>
    <select id="player5" name="game-player5">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player6">Player 6:</label>
    <select id="player6" name="game-player6">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player7">Player 7:</label>
    <select id="player7" name="game-player7">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br>
    <label for="player8">Player 8:</label>
    <select id="player8" name="game-player8">
            <option selected disabled>Choose player!</option>
        <% @players.each do |player| %>
            <option value="<%=player.id%>"><%= player.name %></option>
        <% end %>
    </select><br><br>
    <input type="submit">
  </form>



</div>