<div class="oneGame">
  <h1>Gametime!</h1>
  <h4><a href='/'>Home</a></h4>
  <h4><a href='/games'>Games</a></h4>


  <p>This game is a part of Tournament <%= @game.tournament_id %></p>

  <p>It is a heavyweight matchup between <%= (@game.player_1).name %> and <%= (@game.player_2).name %>.</p>

  <div class="playerMoves">

    <p>The current player is <%= @current_player %></p>

    Select Your Move:<br>

    <form action="/games/<%=@game.id%>" method="post">
  
      <p><%= (@game.player_1).name %>:
  
      <select required id='player1move' name='move-player1'>
        <option selected disabled>Choose here!</option>
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissor">Scissor</option>
      </select><br>
  
      <p><%= (@game.player_2).name %>:
  
      <select required selected="Make a Move!" id='player2move' name='move-player2'>
        <option selected disabled>Choose here!</option>
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissor">Scissor</option>
      </select><br><br>
  
      <input type="submit">
  
    </form>
  
  </div>


</div>